/*
 * Globals
 */

body {
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  background-color: #fafafa;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.page {
  padding-top: 35px;
  min-height: 200px;
  float: none;
  clear: both;
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 18px;
  font-weight: 500;
  font-size: medium;
  color: #8f8f8f;
}
.blog-nav-item:focus,
.blog-nav-item:hover {
  color: #12b075;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #12b075;
  font-weight: 600
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
  border: 1px solid rgba(0,0,0,.09);
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.sidebar-module ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.sidebar-module li {
  list-style-type: none;
	box-sizing: border-box;
	margin-bottom: 20px;
	position: relative;
	transition: all 0.25s ease;
	cursor: pointer;
}
.sidebar-module li:last-child {
  margin-bottom: 0;
	padding-bottom: 0;
}

.cat-item {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #333333;
}
.cat-item:focus,
.cat-item:hover {
  color: #12b075;
  text-decoration: none;
}

.widget-title {
  font-size: 16px;
  font-weight: normal;
  color: #FFF;
  background: #333;
  padding: 12px 15px;
  text-align: left;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-top: -15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 3px 3px 0 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
}
.pager > li > a {
  /* width: 140px; */
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
}
/* .pager .previous>a, .pager .previous>span {
  float: left;
} */
/* .pager li {
  display: inline;
} */
.pager .next>a, .pager .next>span {
  margin-top: 10px;
}


/*
 * Blog posts
 */
.post {
  width: 100%;
  /* height: 100%; */
  float: left;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  padding: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-radius: 3px;
}

.post-info-meta {
  display: flex;
  flex-direction: row;
  float: left;
  width: 100%;
  clear: both;
  margin-bottom: 10px;
  justify-content: space-between;
}

.post-info {
  font-weight: normal;
  font-size: 14px;
  color: #8f8f8f;
}

.post-info > span {
  margin-right: 10px;
  line-height: 36px;
}

.post-author {
  color: #12b075;
}

.post-icons {
  position: relative;
  line-height: 36px;
  width: 26px;
  background: #12b075;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.post-format-icons i {
  position: relative;
  top: -2px;
}

.fa-thumb-tack:before {
  content: "\f08d";
}

.post-icons:before {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 13px 8px 13px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.post-icons:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 13px 7px 13px;
  border-color: transparent transparent #fff transparent;
  left: 0;
  bottom: -1px;
  z-index: 1;
}

.post-title {
  font-weight: 700;
  font-size: 27px;
  color: #333333;
  padding: 0 0 8px 0;
}

.post-title a{
  color: #333333;
}

.post-title a:link {
  text-decoration: none;
}

.post-title a:hover {
  color: #12b075;
}

.post-abstract a{
  color: #333333;
}

.post-abstract a:link {
  text-decoration: none;
}

.post-abstract a:hover {
  color: #12b075;
}

.post-abstract {
  margin-bottom: 12px;
  padding: 10px;
}

.post-meta {
  font-weight: normal;
  line-height: 40px;
  font-size: 15px;
  color: #8f8f8f;
  vertical-align: middle;
}

.comments-meta {
  font-weight: normal;
  color: #8f8f8f;
  vertical-align: middle;
}

.comments-meta a {
  color: #8f8f8f;
}

.comments-meta a:link {
  text-decoration: none;
}

.comments-meta a:hover {
  color: #12b075;
}

.post-meta a {
  color: #8f8f8f;
}

.post-meta a:link {
  text-decoration: none;
}

.post-meta a:hover {
  color: #12b075;
}

.post-category {
  float: left;
  margin-left: 0;
  color: #8f8f8f;
  text-decoration: none;
}
.post-category:focus,
.post-category:hover {
  color: #12b075;
  text-decoration: none;
}

.prenex:focus,
.prenex:hover {
  color: #12b075;
  text-decoration: none;
}

.post-comment {
  float: right;
}

.mts-like {
  font-size: 21px;
  float: right;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 0;
  position: relative;
}

.mts-like span {
  font-size: 15px;
}

.com-like {
  position: relative;
  float: right;
  font-size: 16px;
  vertical-align: middle;
  margin-left: 2px;
  margin-right: 10px;
}

.com-like span {
  font-size: 14px;
  padding-left: 2px;
}

.com-like i:before {
  color: #12b075;
}

a.com-unlike:hover {
  color: #f34848;
}

.com-unlike {
  position: relative;
  float: right;
  font-size: 16px;
  vertical-align: middle;
  margin-left: 2px;
  margin-right: 10px;
}

.com-unlike span {
  font-size: 14px;
  padding-left: 2px;
}

.com-unlike i:before {
  color: #f34848;
}

.comment-unfold {
  font-size: 16px;
}

.comment-reply {
  position: relative;
  float: right;
  font-size: 16px;
}

.post-favourates i:before,
.mts-like i:before {
  top: 2px;
  position: relative;
  color: #12b075;
}

.post-favourates {
  margin-left: 6px;
}

span.comment-favourates {
  font-size: 15px;
  font-weight: 500;
  padding-left: 3px;
}

/*
 * Footer
 */
.blog-footer {
  padding: 10px 0;
  color: #999;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  text-align: right;
  margin-bottom: 0;
}

.postsby {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: normal;
  font-size: 29px;
  color: #333333;
}

.total-comments {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 23px;
  color: #333333;
  margin-bottom: 10px;
}

a.total-comments#commentAnchorPoint {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 23px;
  color: #12b075;
  margin-bottom: 10px;
  text-decoration: none;
}

#contactform p {
  margin-bottom: 19px;
  /* float: left; */
  width: 100%;
  clear: both;
}

#contactform textarea {
  width: 100%;
  padding: 20px;
  line-height: 25px;
  font-family: inherit;
  box-sizing: border-box;
  font-size: inherit;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
}
#contactform input#submit:focus,
#contactform input#submit:hover {
  color: #ffffff;
  background-color: #12b075;
}
#contactform input#submit {
  line-height: 10px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 13px 21px;
  border: 1px solid;
  border-radius: 20px;
  color: #12b075;
  background-color: transparent;
  transition: all 0.2s linear;
  margin-bottom: 10px;
}
.single_post {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 3px;
  font-size: 20px;
}


#commentform p {
  margin-bottom: 19px;
  float: left;
  width: 100%;
  clear: both;
}

input#author, input#email {
  width: 340px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  height: 45px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(43, 15, 15, 0.09);
}
input#author:focus, input#email:focus,
textarea#comment:focus {
  border-color: #12b075;
}

#commentform textarea {
  width: 100%;
  padding: 20px;
  line-height: 25px;
  font-family: inherit;
  box-sizing: border-box;
  font-size: inherit;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
}
.form-submit {
  box-sizing: border-box;
}
#commentform input#submit:focus,
#commentform input#submit:hover {
  color: #ffffff;
  background-color: #12b075;
}
#commentform input#submit {
  line-height: 10px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 13px 21px;
  border: 1px solid;
  border-radius: 20px;
  color: #12b075;
  background-color: transparent;
  transition: all 0.2s linear;
  margin-bottom: 10px;
}

.comment-form-comment {
  margin-bottom: 0px;
}

.post-comment-item {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 3px;
}

.post-comment-author span.comm-author {
  font-family: 'STKaiti';
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}
.post-comment-author span.comm-created {
  float: right;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 14px;
  color: #8f8f8f;
}
/* .post-comment-content {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 16px;
  color: #333333;
} */
#skeyword {
  width: 100%;
  float: left;
  height: 36px;
  text-indent: 10px;
  color: #777777;
  padding: 0 10px;
  background: transparent;
  box-sizing: border-box;
  border: 0;
}
#sbutton {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 100%;
  font-size: 14px;
  z-index: 10;
  border: 0;
  text-align: center;
  cursor: pointer;
  background: transparent;
  transition: all 0.25s linear;
}
#sbutton:focus,
#sbutton:hover {
  color: #12b075;
}
#searchform {
  padding: 0;
  float: left;
  clear: both;
  width: 100%;
  position: relative;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 4px rgba(0,0,0,.03);
  border-radius: 3px;
}
.widget-search {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
  padding: 12px;
  clear: both;
  overflow: hidden;
  background: #fff;
  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  box-sizing: border-box;
  border-radius: 3px;
}

#messages .error {
  margin: 0;
  padding: 0;
}

#messages  .info {
  margin: 0;
  padding: 0;
}

#messages  .success {
  margin: 0;
  padding: 0;
}

#messages .error li {
  list-style: none;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #ebccd1;
}

#messages .info li {
  list-style: none;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #104E8B;
  background-color: #87CEFA;
}

#messages .success li {
  list-style: none;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #008B00;
  background-color: #9bddad;
}

a.haspost {
  color: #12b075;
}
a.nopost {
  color: #8f8f8f;
}

a.editormd-preview-close-btn {
  display: none;
}

.comments-meta a span {
  font-size: 13px;
  /* background-color: #12b075;
  font-weight: 500;
  padding: 2px 5px; */
}

#my-editormd-view {
  font: 16px/32px "Microsoft Yahei";
  /* font-size: 18px; */
}

.reply-reply a {
  color: #8f8f8f;
  position: relative;
  float: right;
  font-size: 14px;
}
.reply-reply a:link {
  text-decoration: none;
}
.reply-reply a:hover {
  color: #12b075;
}
.reply-reply {
  height: 20px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #12b075;
  border-color: #12b075;
}

.pagination>li>a, .pagination>li>span {
  color: #12b075;
}
.pagination>li>a:hover {
  color: #12b075;
}
.page-item.active .page-link {
  background-color: #12b075;
  border-color: #12b075;
}
