/*
 * Globals
 */

body {
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  background-color: #fafafa;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.page {
  padding-top: 35px;
  min-height: 200px;
  float: none;
  clear: both;
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 18px;
  font-weight: 500;
  font-size: medium;
  color: #8f8f8f;
}
.blog-nav-item:focus,
.blog-nav-item:hover {
  color: #12b075;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #12b075;
  font-weight: 600
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
  border: 1px solid rgba(0,0,0,.09);
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.sidebar-module ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.sidebar-module li {
  list-style-type: none;
	box-sizing: border-box;
	margin-bottom: 20px;
	position: relative;
	transition: all 0.25s ease;
	cursor: pointer;
}
.sidebar-module li:last-child {
  margin-bottom: 0;
	padding-bottom: 0;
}

.cat-item {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #333333;
}
.cat-item:focus,
.cat-item:hover {
  color: #12b075;
  text-decoration: none;
}

.widget-title {
  font-size: 16px;
  font-weight: normal;
  color: #FFF;
  background: #333;
  padding: 12px 15px;
  text-align: left;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-top: -15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 3px 3px 0 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts


.post-info-meta
        .post-info
          .post-author
            =post.author.name
          .post-created
            =post.created
        .post-format-icons

 */
.post {
  width: 100%;
  float: left;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  padding: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-radius: 3px;
}

.post-info-meta {
  display: flex;
  flex-direction: row;
  float: left;
  width: 100%;
  clear: both;
  margin-bottom: 10px;
  justify-content: space-between;
}

.post-info {
  font-weight: normal;
  font-size: 14px;
  color: #8f8f8f;
}

.post-info > span {
  margin-right: 10px;
  line-height: 36px;
}

.post-author {
  color: #12b075;
}

.post-icons {
  position: relative;
  line-height: 36px;
  width: 26px;
  background: #12b075;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.post-format-icons i {
  position: relative;
  top: -2px;
}

.fa-thumb-tack:before {
  content: "\f08d";
}

.post-icons:before {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 13px 8px 13px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.post-icons:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 13px 7px 13px;
  border-color: transparent transparent #fff transparent;
  left: 0;
  bottom: -1px;
  z-index: 1;
}

.post-title a {
  font-weight: 700;
  font-size: 27px;
  color: #333333;
  padding: 0 0 8px 0;
}

.post-title a:link {
  text-decoration: none;
}

.post-title a:hover {
  color: #12b075;
}

.post-abstract {
  margin-bottom: 12px
}

.post-meta {
  font-weight: normal;
  line-height: 40px;
  font-size: 15px;
  color: #8f8f8f;
  vertical-align: middle;
}

.post-category {
  float: left;
  margin-left: 0;
  color: #8f8f8f;
  text-decoration: none;
}
.post-category:focus,
.post-category:hover {
  color: #12b075;
  text-decoration: none;
}



.post-comment {
  float: right;
}

.mts-like {
  font-size: 21px;
  float: right;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 0;
  position: relative;
}

.mts-like span {
  font-size: 15px;
}

.mts-like i:before {
  top: 2px;
  position: relative;
  color: #12b075;
}

.post-favourates {
  margin-left: 6px;
}

/*
 * Footer
 */
.blog-footer {
  padding: 10px 0;
  color: #999;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  text-align: right;
  margin-bottom: 0;
}

.postsby {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: normal;
  font-size: 29px;
  color: #333333;
}