extends ../layout

append css
    link(rel="stylesheet", href="/css/admin.css")
    link(rel="stylesheet", href="/components/font-awesome/css/font-awesome.min.css")

block main
  nav.navbar.navbar-inverse.navbar-fixed-top
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-my-brand(href="/admin") Project name
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.mr-auto
        li.nav-item.active
          a(href="/admin") 首页
        li.nav-item
          a(href="#") 评论
        li.nav-item
          a(href="#") 设置
      form.navbar-form.navbar-right
        input.form-control.margin-width(type="text", placeholder="关键字")
        button.btn.margin-width(type="submit")
          i.fa.fa-search
      ul.nav.navbar-nav.navbar-right
        li
          a(href="")
            i.fa.fa-question &nbsp;帮助
        li
          a(href="/admin/users/logout")
            i.fa.fa-lock &nbsp;注销
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li.active
            a(href="/admin/posts/list")
              i.fa.fa-files-o &nbsp;文章列表
          li
            a(href="/admin/posts/add")
              i.fa.fa-file-o &nbsp;添加文章
          li
            a(href="/admin/categories/list")
              i.fa.fa-th-list &nbsp;分类列表
          li
            a(href="/admin/categories/add")
              i.fa.fa-plus &nbsp;添加分类
        ul.nav.nav-sidebar
          li
            a(href="/admin/users/password")
              i.fa.fa-unlock-alt &nbsp;修改密码

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        block content