extends ./layout

block sidebar
  ul.nav.nav-pills.flex-column
    li.nav-item
      a.nav-link(href="/admin/posts", class={active: pageName === "/admin/posts/"+pageNum}, style="border-radius:0")
        i.fa.fa-files-o &nbsp;文章列表
    li.nav-item
      a.nav-link(href="/admin/posts/add", class={active: pageName === "/admin/posts/add"}, style="border-radius:0")
        i.fa.fa-file-o &nbsp;添加文章
    li.nav-item
      a.nav-link(href="/admin/categories", class={active: pageName === "/admin/categories"}, style="border-radius:0")
        i.fa.fa-th-list &nbsp;分类列表
    li.nav-item
      a.nav-link(href="/admin/categories/add", class={active: pageName === "/admin/categories/add"}, style="border-radius:0")
        i.fa.fa-plus &nbsp;添加分类
  //- if (authors[0].authority == "admin")
  //-   ul.nav.nav-sidebar
  //-     li(class={active: pageName === "/user/contact"})
  //-       a(href="/user/contact")
  //-         i.fa.fa-unlock-alt &nbsp;联系我们
