extends ../main

block content
  h2.page-header 修改密码
  != messages()
  form#contactform(action="/user/password", method="post", enctype="application/x-www-form-urlencoded")
    p.comment-form-author
    input(type="password" name="password" placeholder="原始密码" required="true")
    p.comment-form-email
    input(type="password" name="newpwd" placeholder="新密码" required="true")
    p.comment-form-email
    input(type="password" name="rnewpwd" placeholder="重复新密码" required="true")
    p.form-submit
        input(id="submit" type="submit" value="发布")
