extends layout

block content
  h1.postsby
    span 类别：
      =cateName
  each post in posts
    .post
      .post-info-meta
        .post-info
          span.post-author
            =post.author.name
          span.post-created
            =moment(post.created).format('YYYY-MM-DD')
        .post-icons
          i.fa.fa-thumb-tack
      h3.post-title
        a(href="/posts/view/" + post._id, title="#{post.title}", target="_blank")
          =post.title
      .post-abstract
        = truncate(post.content, 80)
      .post-meta
        a.post-category(href="/posts/category/" + post.category.name, target='_blank')= post.category.name
        .mts-like
          i.fa.fa-heart-o
          span.post-favourates
            =post.meta.favourates
        .post-comment
          if post.comments.length === 0
            | 无评论
          else
            =post.comments.length
            | &nbsp;评论

  if pageCount > 1
    nav(aria-label="Page navigation")
      ul.pagination
        - var currentPage = 1;
        while currentPage <= pageCount
          if (currentPage === pageNum)
            li.active
              span
                span= currentPage++
          else
            li
              a(href="/posts/category/" + cateName + '/' + currentPage)= currentPage++