extends layout

block content
  each post in posts
    .post
      .post-info-meta
        .post-info
          span.post-author
            =post.author.name
          span.post-created
            =moment(post.created).format('YYYY-MM-DD')
        .post-icons
          i.fa.fa-thumb-tack
      h3.post-title
        a(href="/posts/view/" + post._id, title="#{post.title}", target="_blank")
          =post.title
      .post-abstract
        = post.content
      .post-meta
        .post-category
          =post.category.name
        .mts-like
          i.fa.fa-heart-o
          span.post-favourates
            =post.meta.favourates
        .post-comment
          if post.comments.length === 0
            | 无评论
          else
            =post.comments.length
            | &nbsp;评论
