extends ../layout

append css
  link(rel="stylesheet", href="/css/blog.css")
  link(rel="stylesheet", href="/components/font-awesome/css/font-awesome.min.css")
  link(rel='stylesheet', href="/css/toast.css")

append js
  script(src="/js/controller/blog.js")
  script(src="/js/toast.js")

block main
  block header
    .blogtitle(style="background:url(/img/loginbg.png);")
      .container(style="padding-top:10px;padding-bottom:10px")
        img(src="/img/logorhl.png", alt="饶厚林的博客", style="margin-left:10px;")
    .blog-masthead
      .container
        nav.blog-nav
          if (pageName === '/posts/1' || pageName === '/')
            a.blog-nav-item.active(href="/") 首页
          else
            a.blog-nav-item(href="/") 首页
          //- a.blog-nav-item(href="/#") 教程
          if pageName === '/about'
            a.blog-nav-item.active(href="/about") 关于
          else
            a.blog-nav-item(href="/about") 关于
          if pageName === '/contact'
            a.blog-nav-item.active(href="/contact") 联系我们
          else
            a.blog-nav-item(href="/contact") 联系我们
          if (user)
            .blog-nav-item(style="float:right;cursor:pointer;padding-left: 0px;")
              .dropdown
                .dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")= user.nick
                .dropdown-menu(aria-labelledby="dropdownMenuLink")
                  a.dropdown-item(href="/admin/posts/1") 我的信息
                  .dropdown-divider
                  a#logoutuser.dropdown-item(href="javascript:void(0)") 注销
          else
            a#loginuser.blog-nav-item(href="javascript:void(0)", style="float:right;padding-left: 0px;") 登录

  .container.page(style="background:url(/img/loginbg.png);")
    .row
      .col-sm-8.blog-main
        block content
      .col-sm-4.blog-sidebar
        .widget-search
          form#searchform.vertical-form(method="get", action="/posts/1")
            fieldset
              input#skeyword(name="keyword", placeholder="搜索...")
              button#sbutton(type="submit")
                i.fa.fa-search
        .sidebar-module.sidebar-module-inset
          h3.widget-title 热门文章
          ol.list-unstyled
            each popularpost in popularposts
              li
                a.cat-item(href="/posts/view/" + popularpost.slug)=popularpost.title
        .sidebar-module.sidebar-module-inset
          h3.widget-title 文章分类
          ul
            each category in categories
              li
                a.cat-item(href="/category/" + category.slug)=category.name
            //- if (categories.length > 6)
            //-   li
            //-     a.cat-item(href="") 更多...
        //- .sidebar-module.sidebar-module-inset
          h3.widget-title 友情链接
          ol.list-unstyled
            li
              a.cat-item(href="http://mobility.lenovo.com", target="_blank") MADP移动开发平台
            li
              a.cat-item(href="http://microservice.lenovo.com", target="_blank") 联想微服务开发平台

  block footer
    .blog-footer
      .bottomOne(style="display: inline;font-size:14px; text-align: center;") 
        p(style="text-align: center;") Copyright2018 厚增科智 All Rights Reserved
      .bottomOne(style="display: inline;font-size:14px; text-align: center;") 
        p(style="text-align: center;margin:0;")
          a.bottomA(href="http://www.miitbeian.gov.cn" target="_black" style="text-align: center;") 京ICP备17067158号
        p(style="text-align: center;margin:0;") 邮箱：
          a.bottomA(href="mailto:raohoulin@163.com" style="text-align: center;") raohoulin@163.com
      //- .bottomOne(style="display: inline;font-size:14px; text-align: center;")
        a.bottomA(href="http://www.miitbeian.gov.cn" target="_black" style="text-align: center;") 京ICP备17067158号
        | 邮箱：
        a.bottomA(href="mailto:raohoulin@163.com" style="text-align: center;") raohoulin@163.com