extends ../layout

append css
  link(rel="stylesheet", href="/css/blog.css")
  link(rel="stylesheet", href="/components/font-awesome/css/font-awesome.min.css")

append js
  script(src="/js/controller/blog.js")

block main
  block header
    .blog-masthead
      .container
        nav.blog-nav
          if (pageName === '/posts/1' || pageName === '/')
            a.blog-nav-item.active(href="/") 首页
          else
            a.blog-nav-item(href="/") 首页
          a.blog-nav-item(href="/#") 教程
          if pageName === '/about'
            a.blog-nav-item.active(href="/about") 关于
          else
            a.blog-nav-item(href="/about") 关于
          if pageName === '/contact'
            a.blog-nav-item.active(href="/contact") 联系我们
          else
            a.blog-nav-item(href="/contact") 联系我们

  .container.page
    .row
      .col-sm-8.blog-main
        block content
      .col-sm-4.blog-sidebar
          .sidebar-module.sidebar-module-inset
            h3.widget-title 文章分类
            ul
              each category in categories
                li
                  a.cat-item(href="/posts/category/" + category.name)=category.name
          .sidebar-module
            h3.widget-title Archives
            ol.list-unstyled
              li
                a.cat-item(href="#") March 2014
              li
                a.cat-item(href="#") February 2014
              li
                a.cat-item(href="#") January 2014
              li
                a.cat-item(href="#") December 2013
          .sidebar-module
            h3.widget-title Elsewhere
            ol.list-unstyled
              li
                a.cat-item(href="#") GitHub
              li
                a.cat-item(href="#") Twitter
              li
                a.cat-item(href="#") Facebook

  block footer
    .blog-footer
      .container
        .row
          p.col-xs-6
            | Blog Test
          p.col-xs-6
            ©RHL2017 