extends ../layout

append css
  link(rel="stylesheet", href="/css/blog.css")
  link(rel="stylesheet", href="/components/font-awesome/css/font-awesome.min.css")
  link(rel="stylesheet", href="/css/sweetalert.css")
  link(rel='stylesheet', href="/css/toast.css")

append js
  script(src="/js/controller/blog.js")
  script(src="/js/controller/sweetalert.min.js")
  script(src="/js/toast.js")

block main
  block header
    .blogtitle(style="background:url(/img/loginbg.png);")
      .container(style="padding-top:10px;padding-bottom:10px")
        img(src="/img/logorhl.png", alt="饶厚林的博客", style="margin-left:10px;")
    .blog-masthead
      .container
        nav.blog-nav
          if (pageName === '/posts/1' || pageName === '/')
            a.blog-nav-item.active(href="/") 首页
          else
            a.blog-nav-item(href="/") 首页
          //- a.blog-nav-item(href="/#") 教程
          if pageName === '/about'
            a.blog-nav-item.active(href="/about") 关于
          else
            a.blog-nav-item(href="/about") 关于
          if pageName === '/contact'
            a.blog-nav-item.active(href="/contact") 联系我们
          else
            a.blog-nav-item(href="/contact") 联系我们
          if (user)
            .blog-nav-item(style="float:right;cursor:pointer;")
              .dropdown
                .dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")= user.nick
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="#") 我的信息
                  li.divider(role="separator")
                  li
                    a#logoutuser(href="javascript:void(0)") 注销
          else
            a#loginuser.blog-nav-item(href="javascript:void(0)", style="float:right;") 登录

  .container.page(style="background:url(/img/loginbg.png);")
    .row
      .col-sm-8.blog-main
        block content
      .col-sm-4.blog-sidebar
        .widget-search
          form#searchform.vertical-form(method="get", action="/posts/1")
            fieldset
              input#skeyword(name="keyword", placeholder="搜索...")
              button#sbutton(type="submit")
                i.fa.fa-search
        .sidebar-module.sidebar-module-inset
          h3.widget-title 热门文章
          ol.list-unstyled
            each popularpost in popularposts
              li
                a.cat-item(href="/posts/view/" + popularpost.slug)=popularpost.title
        .sidebar-module.sidebar-module-inset
          h3.widget-title 文章分类
          ul
            each category in categories
              li
                a.cat-item(href="/category/" + category.slug)=category.name
        .sidebar-module.sidebar-module-inset
          h3.widget-title 标签
          ol.list-unstyled
            li
              a.cat-item(href="#") GitHub
            li
              a.cat-item(href="#") Twitter
            li
              a.cat-item(href="#") Facebook

  block footer
    .blog-footer
      .container
        .row
          p.col-xs-6
            | Blog Test
          p.col-xs-6
            | ©RHL2017 