doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title= 'Lenovo技术博客'
    block css
      //- link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css")
      link(rel='stylesheet', href="/components/editor.md/css/editormd.min.css")
      link(rel='stylesheet', href="/components/editor.md/css/editormd.preview.min.css")
      link(rel="stylesheet", href="/css/sweetalert.css")
    block js
      //- script(src="/components/jquery/dist/jquery.min.js")
      script(src="http://code.jquery.com/jquery-3.2.1.min.js")
      script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")
      script(src="/js/controller/querystring.js")
      script(src="/js/controller/sweetalert.min.js")
      block scripts
      //- if ENV_DEVELOPMENT
        //- script(src='http://localhost:35729/livereload.js')
  body
    block main
