doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title= '青青子衿'
    block css
      //- link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
      //- link(rel='stylesheet', href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css")
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
      link(rel='stylesheet', href="/components/editor.md/css/editormd.min.css")
      link(rel='stylesheet', href="/components/editor.md/css/editormd.preview.min.css")
      link(rel="stylesheet", href="/css/sweetalert.css")
    block js
      script(src="/components/jquery/dist/jquery.min.js")
      //- script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
      //- script(src="http://code.jquery.com/jquery-3.2.1.min.js")
      //- script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")
      script(src="https://cdn.bootcss.com/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous")
      script(src="/js/controller/querystring.js")
      script(src="/js/controller/sweetalert.min.js")
      block scripts
      //- if ENV_DEVELOPMENT
        //- script(src='http://localhost:35729/livereload.js')
  body
    block main
